@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>ABOUT US</h1>

<p>The heart and soul of Coffee is our people, which is why we consider our employees partners.  We continue to be committed to providing a flexible and progressive work environment, and treating one another with respect and dignity. 

Coffee believes that the employment package we offer is compelling and relevant to our partners. For more than 20 years, Coffee has offered a generous wage and benefits package to eligible partners, including those working just 20 hours per week or more.. Approximately 85 percent of partners have health coverage, either through Starbucks or another source, such as school, military or as a dependent. </p>
